.posts {
  margin-bottom: 26px; max-width: 320px; min-width: 320px;

  &--mounted { margin: 0 auto 26px; max-width: 100%; }

  .summary__link {
    &--current + div { transform: scale(0.99); }

    & + div { transition: transform 0.1s ease-in-out; }
  }
}
