.post__content {
  > div { margin-top: 24px;
    &:first-child { margin-top: 0; }
  }

  > img { height: auto; width: 100%; }

  p { margin: 12px 0 24px;
    &:first-child { margin-top: 0; }
  }

  @media (max-width: 639px) { clear: left; float: left; height: 314px; margin-left: 0; max-height: 314px; width: 314px; }
  @media (max-width: 959px) and (min-width: 640px) { clear: both; margin-left: 0; }
}
