.post { margin: 0 auto; padding: 0 3px 32px; width: 960px;

  &::after { clear: both; content: ''; display: table; }

  @media (max-width: 639px) { width: 320px; }
  @media (max-width: 959px) and (min-width: 640px) { width: 640px; }

  &__content { background: #fff; border: 0.5px solid #000; border-radius: 2px; height: 634px; margin-left: 320px; max-height: 634px; overflow-y: scroll; padding: 12px; width: 634px;

    > div { margin-top: 24px;

      &:first-child { margin-top: 0; }
    }

    > img { height: auto; width: 100%; }

    p { margin: 12px 0 24px;

      &:first-child { margin-top: 0; }
    }

    @media (max-width: 639px) { clear: left; float: left; height: 314px; margin-left: 0; max-height: 314px; width: 314px; }
    @media (max-width: 959px) and (min-width: 640px) { clear: both; margin-left: 0; }
  }
}

.extra {
  @media (min-width: 960px) { &--before, &--during { opacity: 0; } }
}
