footer, header { display: flex; height: 50px; justify-content: space-between; margin: 0 auto 0 0; transition: opacity 0.67s, width 0.2s; white-space: nowrap; width: 960px; }

header { margin-bottom: 32px; }

.all {
  margin: 0 auto; padding: 32px 0;

  &--home { width: 960px; }
}

.footer--initial, .header--initial { opacity: 0; }

.icon {
  margin: 0 3px;

  &__image { border-radius: 2px; height: 50px; width: 50px; }

  &__logo {
    &-background, &-l { transition: fill 0.1s; }

    &-background, &--current &-background { fill: #000; }

    &-l, &--current &-l { fill: #d24e3e; }

    &:hover { transform: scale(0.96); transition: transform 0.1s; }
  }

  &__logo-svg { border-radius: 2px; }

  &__profile:hover { transform: scale(0.96); transition: transform 0.1s; }
}

.location {
  margin-right: -2.5px; text-align: right;

  &::before { right: 3px; }

  &--city { right: 2px; }
}

.location, .name { color: #fff; font-size: 65px; text-shadow: -0.5px 0 #000, 0 0.5px #000, 0.5px 0 #000, 0 -0.5px #000; text-transform: uppercase; }

.location, .name--interior { transition: color 0.1s; }

.location--city, .name::after { bottom: 3px; font-size: 57px; position: relative; }

.name {
  margin-left: -2.5px;

  &::after { left: 4px; }
}

// one column

@media (max-width: 639px) {
  footer, header, .all--home { width: 320px; }

  .location { margin-right: 0;
    &::after { content: 'JP'; }

    &--japan { display: none; }
  }

  .name::after { content: '株'; }
}

// two columns

@media (max-width: 959px) and (min-width: 640px) {
  footer, header, .all--home { width: 640px; }

  .name::after { content: ' 株'; }
}

// three columns

@media (min-width: 960px) {
  .name::after { content: ' 株式会社'; }
}
